/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  @include clearfix;
  margin: 1em auto;
  text-align: center;
  position: absolute;
  width: 100%;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  background-color: #222;
  color: $footnote-text-color;
  a {
    color: lighten($text-color,50);
    &:hover{
    	color: $footnote-text-color;
    }
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 0em;
  a {
    padding: 4px 8px;
    &:hover {
      color: $footnote-text-color;
    }
  }
}
